.submit-age {
    position: absolute;
    bottom: 60px;
    left: 170px;
    height: 20px;
    width: 100px;
    font-weight: 500;
    letter-spacing: 0.1px;
    background-color: #EA2626;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    p {
        position: relative;
        right: 1.5px;
        bottom: 3.5px;
        color: #fff;

    }
}
.submit-age:hover {
    background-color: #fff;
    border: 1px solid #EA2626;
    p {
        color: #EA2626;
    }
}
.age-picker {
    padding: 10px 10px 20px 10px;
    p {
        font-size: 16px;
        font-weight: 500;
    }
}
.ant-form-item {
    margin-bottom: 10px;
}
.check__picker {
    margin-top: 0;
    padding: 0 10px 18px 10px ;
    border-top: 1px solid #c9c3c3;
    p {
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 5px;
    }
    &-item {
        padding-top: 5px;
        &--female {
            padding-left: 20px;
        }
    }
}
.age__dropdowns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    &-item {
        flex: 1;
        width: 70px;
        width: 70px;
    }
}

.arrows {
    padding: 5px;
}

.filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.submit {
    width: 100px;
    height: 25px;
    font-weight: 500;
    letter-spacing: 0.1px;
    background-color: #EA2626;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin-top: 30px;
}
.submit:hover {
    background-color: #fff;
    border: 1px solid #EA2626;
    color: #EA2626;
}
.more__options__btn {
    width: 170px;
    height: 25px;
    font-weight: 500;
    letter-spacing: 0.1px;
    background-color: #EA2626;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    border:0;
}
.more__options__btn:hover{
    background-color: #fff;
    border: 1px solid #EA2626;
    color: #EA2626;
}
.filter__submit {
    display: flex;
    justify-content: center;
}
.search__neighbour-content-sidebar {
    height: auto;
}
