.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__top {
        margin-bottom: 50px;
        text-align: center;

        h2 {
            font-size: 28px;
            margin-bottom: 5px;
        }

        p {
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.1px;
            opacity: 0.5;
        }
    }

    &__register-link {
        text-align: center;
        display: block;
        color: #ADADAD;
        font-size: 16px;
        margin-top: 20px;
        letter-spacing: 0.1px;
    }
    .login-form-forgot {
        color: #ADADAD;
        font-size: 14px;
        letter-spacing: 0.1px;
    }

    .login-form-button{
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.1px;
        font-size:14px;
        width: 100%;
    }

    .block {
        width: 430px;
    }
}