@media only screen and(max-width: 580px){
  .home-page {
    max-width: 100% !important;

    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .welcome__top {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .slogan {
    top: 15rem !important;
    float: none !important;
    right: 0 !important;
    max-height: 100rem !important;
    width: 100% !important;
    margin-bottom: 100% !important;

    &__top {

      height: 4rem !important;
      width: 100%;
      border-radius: 0 !important;

      p {

        text-align: center !important;
        font-size: 5rem !important;

      }
    }

    &__bottom {
      position: relative;
      background: linear-gradient(
                      to right bottom,
                      rgba(221, 19, 19, 1),
                      rgba(221, 19, 19, 0.7)
      );
      border-radius: 0 !important;
      top: 20% !important;
      height: 4rem !important;
      width: 100%;

      p {
        font-size: 5rem !important;

      }
    }

    .join-button {
      top: 0 !important;
      margin-top: 25% !important;
    }

    .join-button :hover {
      color: #ea2626 !important;
      background-color: white;

    }
  }


  .welcome__top {
    background-color: #1E2F51 !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
  }

  .home-page .welcome__top .search__block {
    display: flex !important;
    width: 100% !important;
    left: 0 !important;
    top: 6rem !important;
  }
  .search__block-wrapper {
    background-color: #F8F8F8 !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;

    h1 {
      font-family: Karla !important;;
      font-style: normal !important;
      width: 100%;
      text-align: center !important;
      font-size: 2em !important;
    }
  }

  .about {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #3674ff;
    margin: 0;
    padding: 0;

  }

  .welcome {
    padding-bottom: 100px;
  }
  .users__list-card {
    margin: 0 !important;
  }
  .examples__list {
    display: grid;
    grid-template-columns:repeat(1, 300px) !important;
    grid-column-gap: 10px !important;
    grid-row-gap: 10px !important;
    flex-wrap: wrap;
  }


  .about__div__img {
    max-width: 100%;
  }

  .about__image {
    width: 100%;
  }

  .about__article {
    margin: 0;
    padding: 0;
  }

  .suit__block {
    width: 100% !important;
  }

  .examples {
    margin: 0;
    padding: 0;
    display: flex!important;
    flex-direction: column;

    width: 100%;
    height: 100% !important;
    align-items: center;
    align-content: center;
    justify-content: center;

    &__ {

      display: flex!important;
      position: relative;
      width: 100%;
      height: 100% !important;
    }

  }
  .examples__see-more {
    padding-top: -50px;
    margin-bottom: 50px;

  }

  .about {
    all: revert;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .about__div__img {
      all: revert;
      max-width: 80%;
      padding-top: 50px;
      padding-left: 10%;

      .about__image {
        all: revert;
        border-radius: 15px;


        max-width: 100%;
      }
    }
  }


  .footer {
    max-width: 100%;
    height: 100%;
  }

  .footer_info {
    display: flex;
    flex-direction: column;


  }
  .footer__info-top {

    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
  .contacts {
    padding: 0!important;
    text-align: center;
  }
  .about-us {

    text-align: center;
  }
  .about_us_text {
    color: #ccd2e9;
    font-size: 15px;
  }
}

@media only screen and(max-width: 360px) {
  .home-page .welcome__top .slogan__top p {
    font-size: 4rem !important;
    margin-top: 10%;
  }
  .home-page .welcome__top .slogan__bottom p {
    font-size: 4rem !important;
    margin-top: 8%;
  }
}

@media screen and (max-width: 768px) {
  .examples__list {
    display: grid !important;
    grid-template-columns:repeat(1, 300px) !important;
    grid-row-gap: 30px;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
  }
  .home-page .welcome__top .slogan {
    width: auto !important;
  }
  .about {
    flex-direction: column;
  }
  .about__image {
    display: flex;
    margin: 0 auto!important;
    align-items: center;
  }
  .welcome__top {
    display: flex;
    flex-direction: column-reverse;
  }
  .slogan{
    margin: 80px auto !important;
    right: 0 !important;
  }
  .footer {
    max-width: 100%;
    height: 100%;
  }

  .footer_info {
    display: flex;
    flex-direction: column;


  }
  .footer__info-top {

    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
  .contacts {
    padding: 0!important;
    text-align: center;
  }
  .about-us {

    text-align: center;
  }
  .about_us_text {
    color: #ccd2e9;
    font-size: 15px;
  }
  .search__block {
    width: 89% !important;
  }
  .home-page .welcome__top .slogan .join-button {
    margin-bottom: 165px;
  }

}

@media screen and (max-width: 1200px) {
  .home-page .welcome__top .slogan__top {
    width: 80% !important;
  }
  .home-page .welcome__top .slogan__bottom {
    width: 80% !important;
  }
  .home-page .welcome__top .slogan{
    right: 0 !important;
  }
}

.home-page {
  max-width: 100%;
  height: fit-content;

  .welcome {
    min-height: fit-content;
    width: 100%;
    background: linear-gradient(
                    to right bottom,
                    rgba(9, 10, 85, 0.9),
                    rgba(9, 10, 85, 0.6)
    );

    &__top {
      display: flex;
      justify-content: space-between;

      .search__block {
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: column;
        top: 3rem;
        left: 3rem;
        width: 30%;
        height: 350px;
        background-color: #fff;
        border-radius: 10px;

        &-wrapper {
          h1 {
            text-align: center;
            padding-top: 1rem;
            font-family: 'Montserrat Regular', sans-serif;
            font-size: 1.25em;
          }
        }
      }

      .slogan {
        position: relative;
        top: 4rem;
        float: right;
        right: 4%;
        height: 20rem;
        width: 50rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;

        &__top {
          position: relative;
          background: linear-gradient(
                          to right bottom,
                          rgba(221, 19, 19, 1),
                          rgba(221, 19, 19, 0.7)
          );
          height: 8rem;
          width: 100%;
          border-radius: 5px;

          p {
            position: relative;
            color: #fff;
            text-align: center;
            bottom: 3rem;
            font-style: italic;
            font-family: 'Built Titling', sans-serif;
            font-size: 9rem;
            z-index: 1;
          }
        }

        &__bottom {
          position: relative;
          background: linear-gradient(
                          to right bottom,
                          rgba(221, 19, 19, 1),
                          rgba(221, 19, 19, 0.7)
          );
          border-radius: 5px;
          top: 15%;
          height: 6rem;
          width: 100%;

          p {
            position: relative;
            color: #fff;
            text-align: center;
            bottom: 2.5rem;
            font-style: italic;
            font-family: 'Built Titling', sans-serif;
            font-size: 6rem;
            z-index: 1;
          }
        }

        .join-button {
          cursor: pointer;
          background-color: #ea2626;
          color: #fff;
          font-size: 25px;
          padding-top: 20px;
          padding-right: 50px;
          padding-left: 50px;
          padding-bottom: 20px;
          border: none;
          position: relative;
          border-radius: 5px;
          top: 5rem;
        }

        .join-link {
          color: #fff;
        }

        .join-link:hover {
          color: #ea2626;
        }

        .join-button:hover {
          color: #ea2626 !important;
          background-color: white;

        }
      }
    }

    &__bottom {
      display: flex;
      position: relative;
      margin-top: 135px;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 100%;
      height: auto;

      .suit__block {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        align-content: center;
        justify-content: center;
        position: relative;
        width: 40%;
        height: 25rem;

        &-slogan {
          display: flex;
          position: relative;
          width: 100%;
          height: 20%;
          background-color: #fff;
          align-items: center;
          align-content: center;
          justify-content: center;

          p {
            display: flex;
            text-align: center;
            position: relative;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;
            font-size: 2.5rem;
          }
        }

        &-arrow {
          position: relative;
          top: 2rem;
        }
      }
    }
  }

  .examples {

    display: flex;
    flex-direction: column;
    background: linear-gradient(
                    to right bottom,
                    rgba(216, 213, 213, 0.9),
                    rgba(216, 213, 213, 0.4)
    );
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    &__list {
      display: grid;
      grid-template-columns:repeat(2, 340px);
      grid-row-gap: 30px;
      column-gap: 30px;
      row-gap: 30px;
      flex-wrap: wrap;
    }

    &__see-more {
      display: flex;
      position: relative;
      margin-top: 4rem;
      padding-top: 1rem;

      &-link {
        text-align: center;
        text-decoration: underline;
        font-size: 2rem;
        color: #000;
        z-index: 0;
      }

      &-link:hover {
        color: #ea2626;
      }
    }
  }

  .about {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 2rem;
    width: 100%;
    height: fit-content;
    background-color: #fff;

    &__image {
      display: flex;
      position: relative;
      margin-left: 5rem;
      margin-top: 1rem;
      width: 35.08rem;
      height: 20rem;
      border-radius: 10px;
    }

    &__article {
      display: flex;
      position: relative;
      padding: 1.5rem 7rem 0 7rem;
      flex-direction: column;

      p {
        position: relative;
        margin-bottom: 1.5rem;
        line-height: 1.75rem;
        font-family: 'Montserrat Regular', sans-serif;
        font-size: 1.25em;
      }
    }
  }

  .footer {
    width: 100%;
    height: fit-content;

    &__city {
      width: 100%;
      position: relative;
      top: 0.5rem;
      z-index: 2;
    }

    &__info {
      width: 100%;
      height: fit-content;
      z-index: 1;
      padding-top: 1rem;
      background-color: #1E2F51;
      color: #fff;


      &-top {
        display: flex;
        justify-content: space-around;

        .contacts {
          display: flex;
          flex: 1;
          flex-direction: column;
          padding-left: 50px;

          p {
            margin-bottom: 1.5rem;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.25em;
          }
        }

        .about-us {
          display: flex;

          flex: 1;
          flex-direction: column;

          span {
            position: relative;
            margin-left: 10rem;
            font-family: 'Montserrat', sans-serif;
            font-size: 2rem;
          }

          p {
            padding: 1.5rem 10rem 0 10rem;
            display: flex;
            align-items: center;
            text-align: center;
            line-height: 30px;
            justify-content: center;
            margin-bottom: 1.5rem;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.25em;
          }

        }
      }

      &-bottom {
        width: 100%;
        position: relative;
        padding-top: 6rem;
        padding-bottom: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        p {
          color: #ffffff;
          margin-bottom: 1.5rem;
          line-height: 1.75rem;
          font-family: 'Montserrat', sans-serif;
          font-size: 2em;
          bottom: 1rem;
        }

      }
    }
  }

}


.about_us_text {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #FFFFFF;
  font-size: 25px;

}

.home_item_list_2{
  padding-left: 10%;
  display: grid;
  grid: repeat(2, 200px) / auto-flow 400px;
}
.search__submit__button {
  width: 100px;
  font-weight: 500;
  letter-spacing: 0.1px;
  background-color: #EA2626;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
}
.search__submit__button:hover {
  background-color: #fff;
  border: 1px solid #EA2626;
  color: #EA2626;
}
