.footer__search {
    height: 110px;
    width: auto;
    margin-top: 113px;
}

.footer__eblock {
    display: flex;
    margin: 0 auto;
    height: 1.5px;
    width: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 1px  rgba(25, 25, 29, 0.2);
}

.footer__search-info {
    display: flex;
    justify-content: space-around;
}

.footer__search-info h3 {
    line-height: 25px;
}

.footer__search-info p {
    width: 150px;
    display: flex;
    align-items: center;
}
.mbp {
    display: flex;
    justify-content: center;
}
.sau__i {
    height: 35px;
    width: 35px;
}
.sau__f {
    margin-left: 10px;
    height: 35px;
    width: 35px;
}
.sau__g {
    margin-left: 10px;
    height: 40px;
    width: 40px;
}
.search__about__us {
    margin-top: 20px
}
.search__contact__us {
    margin-top: 10px;
}