.app_header {
    box-shadow: 0 2px 8px #f0f1f2;
    height: 55px;
    z-index: 10;
    border-color: snow;
    border-style: solid;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.app-title {
    color: #EA2626;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
    text-decoration: none;
    padding: 0;
    margin: auto 0;
}

.newMenu{
    color: #152046;

    height: 50px;
    line-height: 50px;
    font-size: 20px;
    float: right;
    font-weight: normal;
    text-decoration: none;
    padding: 0;
    margin: auto 0;
}

.newMenu:hover{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    -webkit-transform: rotateZ(20deg);
    -ms-transform: rotateZ(20deg);
    transform: rotateZ(20deg);
}


.menuLink:hover{
    text-decoration-line: underline;
}

.app-title:hover{
    text-decoration-line: underline;
}

th {
    text-align: left;
    padding: 10px;
}

