.container{
    background-color: #f0f2f5;
}

.main_info_user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.eblock{
    padding-top: 30%;
    width: 100%;
}