.main{
    /* Rectangle 1 */

}


.info {
    position: absolute;
    left: 10%;
}



.main.h1{
    position: absolute;
    height: 30%;
    left: 25%;
    top: 71%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;

    color: #152046;
}

.posts{
    position: absolute;
    top: 75%;
    left: 16%;
}

