.div1 {
    position: relative;
    width: 612px;
    height: 204px;
    left: 50%;
    top: 100px;
    background: #ffffff;
}

.user_img {
    position: absolute;

}

.user_img img {
    width: 26%;
}

.user_name {
    position: absolute;
    left: 30%;
    font-size: 20px;

    font-family: verdana;
}

.settings{
    position: absolute;
    top: 6%;
    left: 91%;

}

.mail {
    position: absolute;
    top: 16%;
    left: 30%;
}

.kind_of_activity{
    position: absolute;
    top: 28%;
    left: 30%;

}

.settings_div{
    top: 100%;
}

.About_p{
    position: absolute;
    left: 30%;
    top: 42%;
    font-size: 12px;
}





.textarea {
    font-family: "Times New Roman";
    font-style: normal;
    font-size: 10px;
    border: 0px;
    width: 75%;
    height: 25%;
    resize: none;
    position: absolute;
    top: 55%;
    left: 29.8%;
}

textarea {
    overflow: hidden;
    display: block;
    width: 100%;
    border: 0;

}


.textarea:focus,
.textarea:hover {
    outline: none;
}


