.search__neighbour {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.932);
    h2 {
        padding-top: 10px;
        font-size: 25px;
        text-align: center;
    }
    &-content {
      display: flex;
      flex-wrap: wrap;
      &-list {
        flex: 3;
      }
      &-sidebar {
        margin-top: 23px;
        margin-left: 10px;
        flex: 0 230px;
        border-right: 1px solid #c9c3c3 ;
        border-top: 1px solid #c9c3c3 ;
        border-top-right-radius: 8px;
        background-color: #fff;
        height: 50rem;
      }
    }
    .users__list {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        &-card {  
          display: flex;
          box-shadow: 0 0 10px 5px  rgba(123, 123, 129, 0.2);
          border-radius: 8px;
          flex-direction: column;
          justify-content: space-between;
          height: 150px;
          width: 340px;
          padding: 10px;
          background-color: #fff;
          b {
            position: relative;
            left: 110px;
            bottom: 101px;
            font-size: 24px;
            margin-bottom: 6px;
            width: 220px;
          }
          img {
            margin-top: 12px;
            width: 100px;
            height: 100px;
            border-radius: 50px;
          }
          &-description {
            display: flex;
            flex-wrap: wrap;
            width: 120px;
            &-info {
              flex: 1 0 50px;
              position: relative;
              bottom: 90px;
              left: 110px;
              width: 50px;
              span {
                font-size: 16px;
              }
              p {
                padding-top: 14px;
                font-size: 15px;
                color: #797A7E;
                font-weight: 500;
              }
            }
          }
        }
      }
    .users__list li {
      flex: 0 1 350px;
      height: 170px;
      padding: 1rem;
    }
}