.search__neighbour {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.932);
  h2 {
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    &-list {
      flex: 3;
    }
    &-sidebar {
      margin-top: 23px;
      margin-left: 10px;
      flex: 0 250px;
      border-right: 1px solid #c9c3c3;
      border-top: 1px solid #c9c3c3;
      border-top-right-radius: 8px;
      background-color: #fff;
      height: 40rem;
    }
  }
  .pages__chooser {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 40px;
    &-list {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      &-link {
        color: #000;
        border: none;
        background-color: #fff;
      }
      &-link--selected {
        color: #000;
        border-bottom: 2.5px solid #da1212;
      }
      &-link:hover {
        border-bottom: 2.5px solid #da1212;
      }
    }
    &-list li {
      flex: 0 1 20px;
      height: 15px;
      font-size: 18px;
      padding: 1rem;
      cursor: pointer;
    }
  }
}

.users__list {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  &-card {
    display: flex;
    box-shadow: 0 0 10px 5px rgba(123, 123, 129, 0.2);
    border-radius: 8px;
    height: 150px;
    width: 340px;
    padding: 10px;
    background-color: #fff;
    &-image {
      position: relative;

      margin-top: 12px;
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    &-info {
      position: relative;
      top: 120px;
      right: 95px;
      &-top {
        b {
          position: relative;
          left: 110px;
          bottom: 101px;
          font-size: 24px;
          margin-bottom: 6px;
          width: 220px;
        }
      }
      &-bottom {
        display: flex;
        flex-wrap: wrap;
        width: 120px;
        &-item {
          flex: 1 0 50px;
          position: relative;
          bottom: 90px;
          left: 110px;
          width: 50px;
          span {
            font-size: 16px;
          }
          p {
            padding-top: 14px;
            font-size: 15px;
            color: #797a7e;
            font-weight: 500;
            width: 70px;
            height: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  h5 {
    padding-top: 15px;
    margin: 0;
    text-align: center;
    font-size: 18px;
  }

  .item_card_text {
    text-align: center;
    padding-top: 8px;
    font-size: 15px;
  }

  h6 {
    padding: 0;
    margin: 0;
  }

  .users__list {
    all: revert;
    list-style: none;
    height: 100%;

    &-card {
      all: revert;
      border: 0;
      background: linear-gradient(
        to right bottom,
        rgb(241, 23, 99),
        rgba(14, 17, 217, 0.6)
      );
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 200px;
      height: 300px;
      margin-bottom: 100px;
      &-image {
        all: revert;
        width: 100px;
        height: 100px;
        img {
          width: 100%;
          height: 100%;
        }
        padding-top: 25px;
      }

      &-info {
        all: revert;
        padding-top: 20px;
        &-top {
          all: revert;
        }
        &-bottom {
          all: revert;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          justify-items: center;

          &-item {
            all: revert;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            justify-items: center;
          }
        }
      }
    }
  }

  .item_card_text_name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
}

.users__list li {
  flex: 0 1 10rem;
  height: 170px;
  padding: 0.5rem;
}
