.preLoader{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
}

.form_item {
  position: relative;
  display: block;
}

.form_item:hover .hint,
input:focus ~ div {
  opacity: 1;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hint {
  z-index: 1;
  content: "asd";
  opacity: 0;
  background: rgba(179, 179, 179, 0.5);
  position: absolute;
  top: 32px;
  left: 220px;
  padding: 5px;
  border: 0;
  font-size: 12px;
  font-weight: bold;
  color: #404040;
  border-radius: 7px;
  transition: opacity 0.4s;
}

.loader {
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}


/*_______Main div and settings______*/
.container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  margin: 0;
  height: 100%;
  background-color: #f0f2f5;
}

.settings_div {
  width: 500px;
  height: 100%;
  background-color: #ffffff;

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center

}


.radio {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
}

.radio3 {
  display: grid;
  grid-template-columns: 125px 1fr 2fr;
}

.form {
  padding-top: 20px;
  width: 90%;
}

@media screen and (max-width: 520px) {
  .radio {
    display: flex;
    flex-direction: column;
  }

  .radio3 {
    display: flex;
    flex-direction: column;
  }
  .hint {
    left: 180px;

  }
}

@media screen and (max-width: 320px) {
  .hint {
    left: 100px;

  }


}


.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

  .uploadBtn {
    padding-top: 20px;
  }
}

.save {
  margin-top: 25px;
  margin-bottom: 20px;
  border-radius: 5px;
  align-items: center;
  width: 100%;
  background-color: red;
  color: white;
  text-decoration: none;
}

.upload {
  margin-top: 10px;
}

.aboutUser {
  resize: none;
}

.image {
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
}

[type="file"]::-webkit-file-upload-button {
  text-align: center;
  background: #ED1C1B;
  border: 2px solid #ED1C1B;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  padding: 5px 25px;
  text-transform: uppercase;
  transition: all 1s ease;
}

[type="file"]::-webkit-file-upload-button:hover {
  background: #fff;
  border: 2px solid #535353;
  color: #000;
}

[type="file"] {
  color: #878787;
}

//
//.savebtn {
//    position: absolute;
//    top: 80%;
//    left: 55%;
//    color: white;
//    background-color: #EA2626;
//    border-radius: 5px;
//    border: 0.5px solid #909090;
//    width: 6%;
//    height: 4%;
//}
//
//input {
//    margin-left: 10px;
//    border-radius: 5px;
//    border: 0.5px solid #909090;
//
//}
//
//select {
//    margin-left: 10px;
//    width: 50%;
//    border-radius: 5px;
//}
//
///*_______div image and name______*/
//.change_photo {
//    position: absolute;
//    left: 40%;
//    top: 8%;
//
//}
//
//.setting_user_img img {
//    height: 50px;
//    position: absolute;
//    left: 25%;
//    top: 3%;
//
//}
//
//.setting_user_name {
//    position: relative;
//    left: 40%;
//    top: 5%;
//
//}
//
///*_______div email______*/
//.div_email {
//    position: absolute;
//    top: 15%;
//    width: 100%;
//    height: 5%;
//    background-color: #ffffff;
//}
//
//.label_email {
//    position: absolute;
//    left: 25%;
//    width: 100%;
//}
//
///*_______div kind of...______*/
//.div_kind_of_activity {
//    position: absolute;
//    top: 25%;
//    width: 100%;
//    height: 5%;
//    background-color: #ffffff;
//}
//
//.setting_kind_of_activity {
//    position: absolute;
//    left: 13.5%;
//    width: 63%;
//}
//
///*_______div phone______*/
//.div_number {
//    position: absolute;
//    top: 20%;
//    width: 100%;
//    height: 5%;
//    background-color: #ffffff;
//}
//
//.label_phone {
//    position: absolute;
//    left: 23.5%;
//    width: 100%;
//}
//
//.input_number {
//
//}
//
//
///*_______div about______*/
//.div_about {
//    position: absolute;
//    width: 100%;
//    height: 15%;
//    top: 30%;
//    background-color: white;
//
//}
//
//.about {
//    position: absolute;
//    height: 45%;
//    width: 40%;
//    left: 23%;
//    background-color: white;
//}
//
//.text_about {
//
//    border: 1px solid #909090;
//    resize: vertical;
//    position: absolute;
//    top: 20%;
//    width: 100%;
//    left: 26.5%;
//    height: 100%;
//    border-radius: 5px;
//}
//
///*_______ div gender ______*/
//.gender {
//    position: absolute;
//    width: 100%;
//    height: 5%;
//    top: 40%;
//}
//
//.label_gender {
//    position: absolute;
//    left: 22%;
//    width: 63%;
//}
//
///*_______ div gender ______*/
//
//.pets {
//    position: absolute;
//    width: 100%;
//    height: 5%;
//    top: 45%;
//    background-color: white;
//
//}
//
//.label_pets {
//    position: absolute;
//    width: 63%;
//    left: 19%;
//    background-color: white;
//
//}
//
///*_______ div habits ______*/
//
//.habits {
//    position: absolute;
//    width: 100%;
//    height: 5%;
//    top: 50%;
//    background-color: white;
//
//}
//
//.label_habits {
//    position: absolute;
//    width: 63%;
//    left: 11.5%;
//    background-color: white;
//
//}
//
///*_______ div working ______*/
//
//.working {
//    position: absolute;
//    width: 100%;
//    height: 5%;
//    top: 55%;
//    background-color: white;
//
//}
//
//.label_working {
//    position: absolute;
//    width: 63%;
//    left: 20.5%;
//}
//
///*_______ div habits ______*/
//
//.status {
//    position: absolute;
//    width: 100%;
//    height: 5%;
//    top: 60%;
//    background-color: white;
//
//
//}
//
//.label_status {
//    position: absolute;
//    width: 63%;
//    left: 14.5%;
//    background-color: white;
//
//}
